body {
  background-color: #ece6ba;
  font-family: monospace;
  margin: 25px;
}

p {
  color: #7eab79;
  font-size: 16px;
  text-indent: 20px;
}

h1 {
  color: #d9ae21;
  font-size: 48px;
}

#content{
  background-color: #e0daa8;
  width: 1000px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 3px #a56eb5;
}

h2 {
    color: #544f4f;
}

h3 {
  color: #a56eb5
}
