body {
  background-color: #b6dede;
}

h1 {
  font-size: 48px;
}

.headers{
  font-family: 'Kaisei Decol', serif;
}

p{
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
}

#content{
  background-color: #d9e4ff;
  width: 900px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 3px #3a848c;
}

#lab-index{
  font-size: 20px;
  padding: 10px;
  background-color: #d9e4ff;
  width: 900px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 3px #3a848c;
}

a:link{
  color: #005592;
  text-decoration: none;
  background-color: #ffffff;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:visited {
  color: #8f34a3;
  text-decoration: none;

}

a:hover{
  color: #21d176;
  text-decoration: underline;
}
