body {
  background-color: #b6dede;
}

h1 {
  font-size: 48px;
}

.headers{
  font-family: 'Kaisei Decol', serif;
}

p{
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
}

#content{
  background-color: #d9e4ff;

  min-height: 500px;
  padding: 10px;
  margin: 10px;
  border: solid 3px #3a848c;
}

#lab-index{
  font-size: 20px;
  padding: 10px;
  background-color: #d9e4ff;
  width: 900px;
  min-height: 200px;
  padding: 10px;
  margin: 10px;
  border: solid 3px #3a848c;
}

a:link{
  color: #005592;
  text-decoration: none;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:visited {
  color: #8f34a3;
  text-decoration: none;

}

a:hover{
  color: #21d176;
  text-decoration: underline;
}

.column {
  float: left;
  width: 60%;
}
.column2 {
  float: right;
  width: 40%;
}

img {
  float: right;
  width: 50%;
  padding-right: 20px;
}

ul{
  list-style-type: circle;
  background: #acb5de;
  padding: 20px;
}

ul li{
  background: #b6dede;
  margin: 5px;
  font-family: 'Dosis', sans-serif;
}
