body{
  background-color: #D1E0D1;
}

#java{
  background-color: #979b7a;
  padding: 10px;
  border: solid 3px #1e3d46;
  color: #f7d886;
  width: 300px;
  font-size: 18px;
}

p {
  font-size: 18px;
}

img {
  width: 300px;
  position: absolute;
  right: 100px;

}
